.button{
    background: #000;
    width: 120px;
    padding: 10px;
    text-align: center;
    color: #fff;
    margin: 20px;
    border-radius: 10px;

}
.box{
    background: blue;
    width: 50px;
    height: 50px;
    position: relative;
    left:0px;
    top: 0px;
    padding: 0;
    margin: 0;
}
.frame{
    padding: 0px;
    width: 300px;
    height: 300px;
    border: 2px solid red;
}
.btn-block{
    background: yellow;

}
.btn-block button{
    background: #fff;
    width: 50px;
    height: 30px;
    margin: 10px;
    border-radius: 10px
}